name: CI
on:
  push:
    branches:
      - "**"
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  run-clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install clang-tidy
        run: sudo apt-get install -y clang-tidy

      - name: Install Intel oneAPI
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
          sudo apt-key add *.PUB
          sudo sh -c 'echo "deb https://apt.repos.intel.com/oneapi all main" > /etc/apt/sources.list.d/oneAPI.list'
          sudo apt-get update

      - name: Configure
        env:
          MKL_VERSION: 2023.0.0
        run: |
          sudo apt-get install -y intel-oneapi-mkl-devel-$MKL_VERSION
          cmake -DCMAKE_C_COMPILER=clang \
                -DCMAKE_CXX_COMPILER=clang++ \
                -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
                .
      - name: Run clang-tidy
        run: run-clang-tidy 'src/.*\.cc'
